body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(49, 48, 48);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    z-index: 1;
    position: fixed;
}
nav ul{
    list-style: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 15px;
    font-size: large;
}
nav ul li a{
    color: #f7efe5;
    text-decoration: none;
    transition: 0.2s;
}
nav ul li a:hover{
    color: #ff004f;
}
#home{
    height: 610px;
    width: 100%;
    background-color: black;
    scroll-behavior: smooth;
}
#home p{
    position: absolute;
    margin-top: 17%;
    margin-left: 180px;
    font-size: 40px;
    color: white;
}
#home h1{
    position: absolute;
    margin-top: 21%;
    margin-left: 177px;
    font-size: 80px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
#home h1 span{
    color: #ff004f;
}
#about{
    width: 100%;
    height: 610px;
    background-color: black;
    margin: 5px auto;
}
#about h1{
    position: absolute;
    margin-left: 170px;
    margin-top: 90px;
    color: #ff004f;
    font-size: 30px;
    font-weight: normal;
}
#about #myinfo{
    position: absolute;
    margin-left: 170px;
    margin-top: 150px;
    text-align: justify;
    width: 1000px;
    color: white;
    line-height: 30px;
}
#about h2{
    position: absolute;
    margin-left: 170px;
    margin-top: 340px;
    color: #ff004f;
    font-size: 30px;
    font-weight: normal;
}
#btech{
    position: absolute;
    color:white;
    margin-top: 400px;
    margin-left: 170px;
    line-height: 30px;
}
#hsc{
    position: absolute;
    color:white;
    margin-top: 400px;
    margin-left: 550px;
    line-height: 30px;
}
.skills-project-container{
    width: 100%;
    height: 610px;
    background-color: black;
    margin: 5px auto;
    display: flex;
}
#skills{
    width: 50%;
    height: 100%;
    background: none;
}
#skills h1{
    position: absolute;
    margin-left: 70px;
    margin-top: 90px;
    color: #ff004f;
    font-size: 30px;
    font-weight: normal;
}
.skill-content-1{
    position: absolute;
    margin-left: 35px;
    margin-top: 150px;
    height: 100px;
    width: 600px;
    background: none;
    display: flex;
    justify-content: center;
}
.skill-content-2{
    position: absolute;
    margin-left: 15px;
    margin-top: 300px;
    height: 100px;
    width: 600px;
    background: none;
    display: flex;
    justify-content: center;
}
#skills img{
    height: 70px;
    margin: 30px;
    transition: 0.2s;
}
#skills img:hover{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#projects{
    width: 50%;
    height: 100%;
    background: none;
}
#projects h1{
    position: absolute;
    margin-left: 20px;
    margin-top: 90px;
    color: #ff004f;
    font-size: 30px;
    font-weight: normal;
}
#projects p{
    margin-top: 150px;
    margin-left: 20px;
    color: white;
    text-align: justify;
    width: 600px;
    padding: 10px;
    background-color: rgb(66, 65, 65);
    border-radius: 5px;
}
#projects i{
    font-size: 30px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}
#projects i:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
#contact{
    width: 100%;
    height: 610px;
    background-color: black;
}
#contact-heading{
    position: absolute;
    margin-left: 170px;
    margin-top: 60px;
    color: #ff004f;
    font-size: 30px;
    font-weight: normal;
}
#email-icon{
    color: #ff004f;
    font-size:15px;
}
#emailid{
    position: absolute;
    margin-top: 160px;
    margin-left: 200px;
    color: white;
    font-size: 15px;
    font-weight: normal;
}
#phone-icon{
    color: #ff004f;
    font-size:15px;
}
#phone{
    position: absolute;
    margin-top: 210px;
    margin-left: 200px;
    color: white;
    font-size: 15px;
    font-weight: normal;
}
#linkedin-icon{
    position: absolute;
    color: rgb(66, 65, 65);
    font-size:25px;
    margin-top: 270px;
    margin-left: 200px;
    cursor: pointer;
}
#instagram-icon{
    position: absolute;
    color: rgb(66, 65, 65);
    font-size:25px;
    margin-top: 270px;
    margin-left: 250px;
    cursor: pointer;
}
#github-icon{
    position: absolute;
    color: rgb(66, 65, 65);
    font-size:25px;
    margin-top: 270px;
    margin-left: 300px;
    cursor: pointer;
}
#instagram-icon:hover{
    color: #ff004f;
}
#linkedin-icon:hover{
    color: #ff004f;
}
#github-icon:hover{
    color: #ff004f;
}
#cv-download-button{
    position: absolute;
    border: 0;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #ff004f;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 150px;
    margin-top: 340px;
    margin-left: 198px;
    padding: 10px 10px;
    color: white;
    background-color: #ff004f;
    cursor: pointer;
}
#cv-download-button:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}
#line{
    position: absolute;
    height: 350px;
    width: 2px;
    background-color: #ff004f;
    margin-top: 120px;
    margin-left: 600px;
}
#contact-container{
    position: absolute;
    width: 500px;
    height: 500px;
    margin-left: 720px;
    margin-top: 20px;
}
form{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
}
form input, form textarea{
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    border-radius: 5px;
    background-color: rgb(56, 55, 55);
    color: white;
}
form h3{
    color: white;
    font-weight: normal;
}
#submit-button{
    border: 0;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: #ff004f;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 150px;
    margin: 20px auto 0;
    padding: 10px 10px;
    color: white;
    background-color: #ff004f;
    cursor: pointer;
}
#submit-button:hover{
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}